# 01 â€” Module 1: Market data (OHLCV)

Module 1 downloads and normalizes market data.

Goals:
- make output consistent for 1 ticker or many tickers
- keep only fields used downstream
- cache downloads locally (Parquet)

In [1]:
# If running from repo root and editable install is not done:
# pip install -e ".[dev]"

import pandas as pd
pd.set_option("display.width", 140)
pd.set_option("display.max_columns", 50)

In [2]:
from swing_screener.data.market_data import fetch_ohlcv, MarketDataConfig

tickers = ["AAPL","MSFT","SPY"]
cfg = MarketDataConfig(start="2023-01-01", auto_adjust=True)

ohlcv = fetch_ohlcv(tickers, cfg, use_cache=True)
ohlcv.tail()

                  Open                                High                                 Low                               Close  \
                  AAPL        MSFT         SPY        AAPL        MSFT         SPY        AAPL        MSFT         SPY        AAPL
Date
2026-01-07  263.200012  479.760010  692.190002  263.679993  489.700012  693.960022  259.809998  477.950012  689.320007  260.329987
2026-01-08  257.019989  481.239990  688.820007  259.290009  482.660004  690.619995  255.699997  475.859985  687.489990  259.040009
2026-01-09  259.079987  474.059998  690.630005  260.209991  479.820007  695.309998  256.220001  472.200012  689.179993  259.369995
2026-01-12  259.160004  476.670013  690.679993  261.299988  480.989990  696.090027  256.799988  475.679993  690.630005  260.250000
2026-01-13  259.410004  476.670013  695.489990  261.809998  475.760010  696.090027  258.390015  465.950012  691.359985  261.049988

                                      Volume
                  MSFT         SPY      AAPL      MSFT       SPY
Date
2026-01-07  483.470001  689.580017  48309800  25564200  75588300
2026-01-08  478.109985  689.510010  50419300  18162600  64019200
2026-01-09  479.279999  694.070007  39997000  18491000  80125500
2026-01-12  477.179993  695.159973  45263800  23519900  63976000
2026-01-13  470.670013  693.869995  41482227  27617535  71173204

### Inspect the structure

In [3]:
ohlcv.columns.names, type(ohlcv.columns)

(FrozenList([None, None]), pandas.core.indexes.multi.MultiIndex)

In [4]:
ohlcv.columns.levels[0]  # fields

Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [5]:
ohlcv.columns.levels[1]  # tickers

Index(['AAPL', 'MSFT', 'SPY'], dtype='object')

**Why caching matters:** when iterating, you don't want to hit Yahoo Finance repeatedly.

Try re-running `fetch_ohlcv(... use_cache=True)` twice and notice it's instant the second time.